#navbar{
    width: 100%;
    height: 5.5rem;
    background-color: var(--sub-color-theme);
    display: flex;
    align-items: center;
    padding: 0 5%;
    position: sticky;
    top: 0;
    display: flex;
    z-index: 999;
}

.navbar-right{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    margin-right: 5%;
    gap: .8rem;
    background-color: var(--sub-color-theme);
}

.navbar-right > svg{
    width: clamp(2rem, 3vw, 2.5rem);
    cursor: pointer;
}

.logo-name{
    color: var(--text-color-theme);
    font-size: clamp(1.5rem, 3vw, 3rem);
}

.navbar-ul{
    display: flex;
    gap: 1rem;
}
.navbar-ul li, .navbar-ul a{
    text-decoration: none;
    list-style-type: none;
    color: var(--text-color-theme);
    font-size: clamp(.8rem, 1.5vw, 1rem);
}

.navbar-ul a:hover{
    color: #742da3;
}


@media screen and (max-width: 600px) {
    .navbar-ul{
        display: none;
    }
    .navbar-right{
        gap: .4rem;
        position: block;
    }

}

@media screen and (max-width: 500px) {
    .navbar-right > svg{
        display: none;
    }
    
    #navbar{
        height: 5rem;
    }
}