
.search {
  width: clamp(10rem, 20vw, 50rem);
  border: 1px solid white;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  padding: 0 5%;
  gap: .2rem ;
  }
  
  .search input {
    border: none;
    font-size: 1.2rem;
    font-family: var(--font-raleway);
    font-weight: 500;
    border: none;
    background-color: unset;
    outline: none;
    color: white;
    width: 95%;
  }

  .search-icon{
    width: 40px;
    cursor: pointer;
  } 
 
