.main-container{
  padding: 5rem 10%;
  min-height: 90vh;

}
.movie-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem 2rem;
  justify-content: center;
  align-items: center;
}

.show-result{
  color: rgb(224, 216, 216);
  margin-bottom: 5rem;
  text-align: center;
  font-size: 1.2rem;
}

.show-result span{
  color: white;
}

.no-movies-found{
  color: var(--text-color-theme);
  text-align: center;
  margin-top: -2rem;
}
@media screen and (max-width: 980px) {
  .main-container{
    padding: 3rem 5%;
  }
}
@media screen and (max-width: 600px) {


  .movie-container{
    gap: 2rem 1rem;
  }

  .show-result{
    margin-bottom: 2rem;
  }
}
