
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" );

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

:root {
  --font-main: "Montserrat", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --sub-color-theme: #3f4153;
  --text-color-theme: #e2e2e2;
  --body-color-theme: #282A3A;
}

body {
  font-family: var(--font-main);
  background-color: var(--body-color-theme);
}